Flask==3.0.3
flask_login==0.6.3
waitress==3.0.0
flask_wtf==1.2.1
matplotlib==3.8.4
mpld3==0.5.10
numpy==1.26.4
Pillow==10.3.0
Requests==2.31.0
scipy==1.13.0
SQLAlchemy==2.0.29
sqlalchemy_serializer==1.4.12
sympy==1.12
Werkzeug==3.0.2
WTForms==3.1.2
