* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../img/white-needle.png");  /* саша, сделай фон */
}

#block-body {
  width: 100%; /*сделать шапку на всю длину сайта*/
  height: auto; }

header {
  width: screen width;
  height: 80px;
  background-color: #333;
}

#block-content {
  width: screen width;
  height: auto;
  min-height: 500px;
}

.logo {
  width: 200px;
  float: left;
  height: 80px;
}

.logo a {
  display: block;
  margin-left: 15px;
  margin-top: 10px;
  font-family: "Exo2-Bold", sans-serif;
  font-size: 28px;
  color: #b2aeb2;
  text-decoration: none;
  cursor: pointer;
}

.use {
  color: #aa064b;
}

.web {
  color: hsl(180, 1%, 45%);
}

.logo p {
  margin-left: 20px;
  margin-top: 2px;
  margin-bottom: 5px;
  font-family: "Exo2-Medium", sans-serif;
  font-size: 13px;
  color: white;
  font-weight: 800;
  text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
}

.top-menu {
  width: screen width;
  height: 80px;
  float: left;
}

.top-menu ul li {
  list-style: none;
  float: left;
  text-align: center;
}

.top-menu ul li a {
  display: block;
  width: 171px;
  text-decoration: none;
  font-family: "Exo2-Medium", sans-serif;
  font-size: 14px;
  color: white;
  height: 80px;
  padding-top: 25px;
  cursor: pointer;
  font-weight: 550;
  border-radius: 20px;
}

.top-menu ul li a:hover {
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  background: #4b4a49;
}

.block-top-auth {
  width: 100px;
  float: right;
  margin-right: 40px;
  height: 80px;
}

.block-top-auth p {
  margin-top: 10px;
  text-align: center;
  margin-bottom: 10px;
}

.block-top-auth a {
  text-decoration: none;
  color: white;
  font-family: "Exo2-Medium", sans-serif;
  font-size: 15px;
  font-weight: 700;
  text-decoration: underline;
  cursor: pointer;
}

.block-top-auth .nikname {
    font-size: 20px;
    text-decoration: none;
}

.block-top-auth a:hover {
  text-decoration: none;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition:all 0.5s ease;
  -moz-transition:all 0.5s ease;
  color: #ffdc9b;

}

.container {
  margin: 30px;
  border: 10px;
  text-align: center;
}

.page-footer {
  padding: 1rem;
  background: #333;
  color: #fff;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
}

html, body {
  min-height: 100vh;
}

main {
  flex-grow: 1;
}

footer {
  flex-grow: 0;
}

.wrapper {
    width: 420px;
    background: #f2e8c9;
    border: 2px solid #493526;
    color: #fff;
    box-shadow: 0 0 10px #493526;
    backdrop-filter: blur(20px);
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1 {
    font-size: 36px;
    text-align: center;
}

.wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
}

.input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: 40px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box .input {
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 1px solid #fff;
    border-radius: 40px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}

.input-box input::placeholder {
    color: #fff;
}

.input-box i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember-forgot {
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember-forgot label input {
    accent-color: #fff;
    margin-right:  3px;
}

.wrapper .btn {
    width: 100%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px #493526;
    cursor: pointer;
    font-size: 16px;
    color: #493526;
    font-weight: 600;
}

.wrapper .register-link {
    font-size: 14.5px;
    text-align: center;
    margin: 20px 0 15px;
}

.register-link p a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover {
    text-decoration: underline;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
}

/* Header/Blog Title */
.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
  float: left;
  width: 75%;
}

/* Right column */
.rightcolumn {
  float: left;
  width: 25%;
  padding-left: 20px;
}

/* Fake image */
.fakeimg {
  background-color: #aaa;
  width: 100%;
  padding: 20px;
}

/* Add a card effect for articles */
.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}
