<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SANDY - Математический форум</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
  </head>
  <body>
    <div id="block-body">
      <header>
        <div class="logo">
          <a href="/" style="text-decoration: none">
            <span class="use">SAN</span>
            <span class="web">DY</span>
          </a>
          <p>Math forum</p>
        </div>
        <div class="top-menu">
          <ul>
            <li><a href="/graf">Построение графиков</a></li>
            <li><a href="#">Решение уравнений</a></li>
            <li><a href="/raspr">График случайных распредлений</a></li>
          </ul>
        </div>
        <div class="block-top-auth">
          {% if current_user.is_authenticated %}
          <p><a href="/post" >Создать</a> <a href="/" >Аккаунт</a></p>
          <p><a class="nikname" href="/logout" title="log out">{{ current_user.username }}</a></p>
          {% else %}

          <p><a href="/register" >Регистрация</a></p>  <!--class="btn btn-outline-success"-->
          <p><a href="/login" >Вход</a></p>  <!--class="btn btn-outline-secondary"-->
          {% endif %}
        </div>
      </header>
    </div>
    <main>
      {% block content %}
      {% endblock %}
    </main>
    <footer class="page-footer">
      <p><b>© All Rights Reserved. SANDY</b></p>
    </footer>


    
    
  </body>
</html>