<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SANDY - Математический форум</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
          crossorigin="anonymous">
  </head>
  <body>
    <div id="block-body">
      <header>
        <div class="logo">
          <a href="/" style="text-decoration: none">
            <span class="use">SAN</span>
            <span class="web">DY</span>
          </a>
          <p>Залупка</p>
        </div>
        <div class="top-menu">
          <ul>
            <li><a href="/graf">Построение графиков</a></li>
            <li><a href="#">Решение уравнений</a></li>
            <li><a href="#">График случайных распредлений</a></li>
          </ul>
        </div>
        <div class="block-top-auth">

          <p><a href="/register" >Регистрация</a></p>  <!--class="btn btn-outline-success"-->
          <p><a href="/login" >Вход</a></p>  <!--class="btn btn-outline-secondary"-->
        </div>
      </header>
    </div>
    <main role="main" class="container">
      {% block content %}{% endblock %}
    </main>
    <footer class="page-footer">
      <p><b>© All Rights Reserved. SAN DY</b></p>
    </footer>


    
    
  </body>
</html>