{% extends "base.html" %}

{% block content %}
<div class="header" style="text-align: center; margin: 15px">
  <h2>{{title}}</h2>
</div>
<div class="container_blog">
    <div class="blog_content">
        {% if either %}
            <h1>{{ either }}</h1>
        {% else %}
          {% for item in posts %}
            <div>
                <a href="#" style="font-size: 20px">{{item.user.username}}</a>
                <a style="color: #727272; font-size: 12px;">{{item.start_date.strftime('%d.%m.%Y %H.%M')}}</a>
                <a href="{{ url_for('look_post', post_id=item.id) }}"><h2>{{item.title}}</h2></a>
                {% if item.posts|count >= 100 or item %}
                    <p class="article-content" align="left">{{ item.posts|safe|truncate(250, True) }}
                {% else %}
                    <p class="article-content" align="left">{{ item.posts }}</p>
                {% endif %}
            </div>
          {% endfor %}
        {% endif %}

    </div>
</div>



{% endblock %}