{% extends "base.html" %}

{% block content %}
<h1>Построение графика</h1>
<form action="" method="post">
    {{ form.hidden_tag() }}
    <p>
        {{ form.function.label }}<br>
        {{ form.function(class="form-control") }}<br>
        {% for error in form.function.errors %}
            <p class="alert alert-danger" role="alert">
                {{ error }}
            </p>
        {% endfor %}
    </p>
<!--    <p>-->
<!--        {{ form.start_dot.label }}<br>-->
<!--        {{ form.start_dot(class="form-control") }}<br>-->
<!--        {% for error in form.start_dot.errors %}-->
<!--            <p class="alert alert-danger" role="alert">-->
<!--                {{ error }}-->
<!--            </p>-->
<!--        {% endfor %}-->
<!--    </p>-->
<!--    <p>-->
<!--        {{ form.end_dot.label }}<br>-->
<!--        {{ form.end_dot(class="form-control") }}<br>-->
<!--        {% for error in form.end_dot.errors %}-->
<!--            <p class="alert alert-danger" role="alert">-->
<!--                {{ error }}-->
<!--            </p>-->
<!--        {% endfor %}-->
<!--    </p>-->
<!--    <p>-->
<!--        {{ form.count.label }}<br>-->
<!--        {{ form.count(class="form-control") }}<br>-->
<!--        {% for error in form.count.errors %}-->
<!--            <p class="alert alert-danger" role="alert">-->
<!--                {{ error }}-->
<!--            </p>-->
<!--        {% endfor %}-->
<!--    </p>-->
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% if html_fig %}
    <h2>График {{title}}</h2>
    {{ html_fig | safe }}
    <h2>Спектр {{title_s}}</h2>
    {{ html_spec | safe }}
{% endif %}
{% endblock %}