{% extends "base.html" %}

{% block content %}
<div style="background: #e6e3e0; width: 300px; height: 900px; border: 0px; margin: 0px; display: flex"
     xmlns="http://www.w3.org/1999/html">
    <div>
        <h1>Построение графика</h1>
        <form action="" method="post">
            {{ form.hidden_tag() }}
            <p style="font-size: 20px;">
                {{ form.function.label }}<br>
                {{ form.function(placeholder='Например, sin(x**2)') }}<br>
                {% for error in form.function.errors %}
                    <p class="alert alert-danger" role="alert">
                        {{ error }}
                    </p>
                {% endfor %}
            </p>
                <p>
            {{ form.start_dot.label }}<br>
            {{ form.start_dot(class="form-control", placeholder='0') }}<br>
            {% for error in form.start_dot.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
            </p>
            <p>
            {{ form.end_dot.label }}<br>
            {{ form.end_dot(class="form-control", placeholder='100') }}<br>
            {% for error in form.end_dot.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
            </p>
            <p>
            {{ form.count.label }}<br>
            {{ form.count(class="form-control", placeholder='100') }}<br>
            {% for error in form.count.errors %}
                <p class="alert alert-danger" role="alert">
                    {{ error }}
                </p>
            {% endfor %}
            </p>

            <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
            {% if html_spec %}
                <div>
                    {{ html_spec | safe }}
                </div>
            {% endif %}
        </form>

    </div>
    <div>
        {% if html_fig %}
            {{ html_fig | safe }}
    </div>
</div>
{% endif %}
{% endblock %}
