{% extends "base.html" %}

{% block content %}

  <div class="wrapper">
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <h1>Register</h1>
      <div class="input-box">
        {{ form.username(class="input"+form.username.name, type="text", placeholder="Username") }}
            {% for error in form.username.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        <i class='bx bxs-user'></i>
      </div>
      <div class="input-box">
        {{ form.email(class="input"+form.email.name, type="email", placeholder="Email") }}
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        <i class='bx bxs-envelope'></i>
      </div>
      <div class="input-box">
        {{ form.password(class="input"+form.password.name, type="password", placeholder="Password") }}
            {% for error in form.email.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        <i class='bx bxs-lock-alt' ></i>
      </div>
      <div class="input-box">
        {{ form.password_again(class="input"+form.password_again.name, type="password", placeholder="Repeat password") }}
            {% for error in form.password_again.errors %}
                <div class="alert alert-danger" role="alert">
                    {{ error }}
                </div>
            {% endfor %}
        <i class='bx bxs-lock' ></i>
      </div>
      <div class="remember-forgot">
        <label><input type="checkbox">Remember me</label>
      </div>
      {{ form.submit(type="submit", class="btn") }}
      <div>{{ message }}</div>

      <div class="register-link">
        <p>Already have an account? <a
          href="/login">Login</a></p>
      </div>
    </form>
  </div>

{% endblock %}
